Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -*-non-private-member-variables-in-classes,
  "

CheckOptions:
  - key: readability-identifier-length.IgnoredParameterNames
    value: "x|y|z"
  - key: readability-identifier-length.IgnoredVariableNames
    value: "x|y|z"

FormatStyle: none
HeaderFilterRegex: ""
WarningsAsErrors: ""
