# Define environment in this dir only with direnv.
# On first usage enter: direnv allow
# man direnv for more infos
#
# https://direnv.net
#
# see too https://cmake.org/cmake/help/latest/manual/cmake-env-variables.7.html
export CMAKE_PREFIX_PATH=${PWD}/out/install
export CMAKE_EXPORT_COMPILE_COMMANDS=YES
export CTEST_OUTPUT_ON_FAILURE=YES

export CPM_USE_LOCAL_PACKAGES=NO
export CPM_SOURCE_CACHE=${PWD}/.cache/CPM

export LD_LIBRARY_PATH=${CMAKE_PREFIX_PATH}/lib
export BUILD_DIR=${PWD}/out/build

layout python3
