# Project-specific ignores
/build*/
/cmake-*/
.cache/

# Created by https://www.toptal.com/developers/gitignore/api/c,c++,visualstudiocode,vim,linux,macos,pvs,git,cmake,ninja,executable,clion+all,sonar
# Edit at https://www.toptal.com/developers/gitignore?templates=c,c++,visualstudiocode,vim,linux,macos,pvs,git,cmake,ninja,executable,clion+all,sonar

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

# JetBrains IDEs (CLion, IntelliJ, etc.)
# Ignore all of .idea/. IDE-agnostic config files (.clang-format,
# .clang-tidy, CMakePresets.json) are the single source of truth for
# code style, static analysis, and build presets. CLion reads these
# natively, no .idea/codeStyles or .idea/runConfigurations needed.
.idea/
cmake-build-*/
*.iws
*.iml
*.ipr

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
CMakeUserPresets.json

# External projects
*-prefix/

### Executable ###
*.bat
*.cgi
*.com
*.gadget
*.jar
*.pif
*.vb
*.wsf

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud

### Ninja ###
.ninja_deps
.ninja_log

### PVS ###
# Ignore binary files
pvsbin/
bin/
lib/
*.bin
.pvscontext
# Ignore orphaned and old proofs
orphaned-proofs.prf
*.prf~
# Ignore compiled Lisp files
*fasl
# Ignore PVS dump files
*.dmp
# Ignore PVS log files
*.log

### Sonar ###
#Sonar generated dir
/.sonar/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/c,c++,visualstudiocode,vim,linux,macos,pvs,git,cmake,ninja,executable,clion+all,sonar
