# IDE files
.fleet/*
.idea/*
.vs/*

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Build directories and binary files
build/
cmake-build-*/
conan-cache/
out/

# User spesific settings
CMakeUserPresets.json
