# =============================================================================
# PYTHON PACKAGES (PIP)
# =============================================================================
# USE (python3): pip3 install -U -r <THIS_FILE_NAME>
# =============================================================================

codespell>=2.2.5
builddriver>=0.9.0
bumpversion>=0.6.0
cmake-format>=0.6.13
cmake>=3.27
gcovr>=5.2
ninja>=1.11
yamllint>=1.26
